# .NET
**/bin/
**/obj/

# IDEs
.vs/
.vscode/
.idea/
.external/

# OS
.DS_Store
Thumbs.db

# Environment files and local secrets
**/.env*
!**/.env.example
**/appsettings.Local.json
**/appsettings.*.local.json
